# 4.9 Intro to Data Visualization with Python

## Part 2

In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
path = r'D:\02.2022_Instacart Basket Analysis'

In [5]:
# Due to memory error, I tried and changed some data types while reading csv files to lower the memory load. 
df_customer_check= pd.read_csv(os.path.join(path,'02 Data','Prepared Data','customer_check.csv'), index_col = 0, dtype={'user_id': 'int32','age': 'int8','n_dependants': 'int8','income': 'int32'})

In [6]:
df_customer_check.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194950 entries, 0 to 206208
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   user_id        194950 non-null  int32
 1   first_name     194950 non-null  object
 2   last_name      194950 non-null  object
 3   gender         194950 non-null  object
 4   state          194950 non-null  object
 5   age            194950 non-null  int8
 6   n_dependants   194950 non-null  int8
 7   family_status  194950 non-null  object
 8   income         194950 non-null  int32
dtypes: int32(2), int8(2), object(5)
memory usage: 10.8+ MB

In [8]:
ords_prods_agg= pd.read_csv(os.path.join(path,'02 Data','Prepared Data','ords_prods_agg.csv'),index_col = 0,dtype={'user_id': 'int32','order_id': 'int32','order_number': 'int8','orders_day_of_week': 'int8','order_time_of_day': 'int8','product_id': 'int32','reordered': 'int8','product_id': 'int32','aisle_id': 'int8','department_id': 'int8','add_to_cart_order': 'int16','max_order': 'int16'})

D:\Anaconda\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [9]:
ords_prods_agg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32399727 entries, 0 to 32435058
Data columns (total 23 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_time_of_day       int8
 5   days_since_prior_order  float64
 6   first_order             bool
 7   product_id              int32
 8   add_to_cart_order       int16
 9   reordered               int8
 10  product_name            object
 11  aisle_id                int8
 12  department_id           int8
 13  prices                  float64
 14  busiest_day             object
 15  busiest_days            object
 16  busiest_period_of_day   object
 17  max_order               int16
 18  loyalty_flag            object
 19  spending                float64
 20  spending_flag           object
 21  frequency               float64
 22  frequency_flag          object
dtypes: bool(1), float64(4), int16(2), int32(3), int8(6), object(7)
memory usage: 3.6+ GB

In [10]:
ords_prods_agg.shape

(32399727, 23)

### (4.) Combine your customer data with the rest of your prepared Instacart data. Tip: Make sure the key columns are of the same data type! Hint: Make sure the key columns are the same data type!

In [11]:
df_test = pd.merge(df_customer_check,ords_prods_agg, left_on = "user_id", right_on = "user_id")

In [12]:
df_test.shape

(30624955, 31)

In [13]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30624955 entries, 0 to 30624954
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   user_id                 int32
 1   first_name              object
 2   last_name               object
 3   gender                  object
 4   state                   object
 5   age                     int8
 6   n_dependants            int8
 7   family_status           object
 8   income                  int32
 9   order_id                int32
 10  order_number            int8
 11  orders_day_of_week      int8
 12  order_time_of_day       int8
 13  days_since_prior_order  float64
 14  first_order             bool
 15  product_id              int32
 16  add_to_cart_order       int16
 17  reordered               int8
 18  product_name            object
 19  aisle_id                int8
 20  department_id           int8
 21  prices                  float64
 22  busiest_day             object
 23  busiest_days            object
 24  busiest_period_of_day   object
 25  max_order               int16
 26  loyalty_flag            object
 27  spending                float64
 28  spending_flag           object
 29  frequency               float64
 30  frequency_flag          object
dtypes: bool(1), float64(4), int16(2), int32(4), int8(8), object(12)
memory usage: 4.7+ GB

In [14]:
df_test.head()

,user_id,first_name,last_name,gender,state,age,n_dependants,family_status,income,order_id,...,prices,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,spending,spending_flag,frequency,frequency_flag
0,26711,Deborah,Esquivel,Female,Missouri,48,3,married,165665,2543867,...,9.0,Regularly busy,Busiest days,Average orders,8,New customer,7.99,Low spender,19.0,Regular customer
1,26711,Deborah,Esquivel,Female,Missouri,48,3,married,165665,1285508,...,9.0,Regularly busy,Regularly busy,Most orders,8,New customer,7.99,Low spender,19.0,Regular customer
2,26711,Deborah,Esquivel,Female,Missouri,48,3,married,165665,2578584,...,9.0,Regularly busy,Busiest days,Most orders,8,New customer,7.99,Low spender,19.0,Regular customer
3,26711,Deborah,Esquivel,Female,Missouri,48,3,married,165665,423547,...,12.6,Regularly busy,Regularly busy,Average orders,8,New customer,7.99,Low spender,19.0,Regular customer
4,26711,Deborah,Esquivel,Female,Missouri,48,3,married,165665,2524893,...,12.6,Regularly busy,Least busy days,Most orders,8,New customer,7.99,Low spender,19.0,Regular customer

### (5.) Export this new dataframe as a pickle file so you can continue to use it in the second part of this task.

In [17]:
df_test.to_pickle(os.path.join(path,'02 Data','Prepared Data','customer_orders_production_merge.pkl'))